API_HOST=tobemodified
API_PORT=tobemodified
API_LOG_LEVEL=tobemodified
API_NUMBER_OF_THREADS=tobemodified

POSTGRES_HOST=tobemodified
POSTGRES_PORT=tobemodified
POSTGRES_DB=tobemodified
POSTGRES_USER=tobemodified
POSTGRES_PASSWORD=tobemodified