API_HOST=tobemodified
API_PORT=tobemodified
API_LOG_LEVEL=tobemodified # Possible values: TRACE (0), DEBUG (1), INFO (2), WARN (3) or ERROR (4)
API_NUMBER_OF_THREADS=tobemodified # Cannot be less than 1

POSTGRES_HOST=tobemodified
POSTGRES_PORT=tobemodified
POSTGRES_DB=tobemodified
POSTGRES_USER=tobemodified
POSTGRES_PASSWORD=tobemodified