ApiOptions__Host=tobemodified
ApiOptions__Port=tobemodified
ApiOptions__LogLevel=tobemodified
ApiOptions__NumberOfThreads=tobemodified

DatabaseCredentials__Host=tobemodified
DatabaseCredentials__Port=tobemodified
DatabaseCredentials__Name=tobemodified
DatabaseCredentials__User=tobemodified
DatabaseCredentials__Password=tobemodified